.about {
    display: flex;
    align-items: center;
    position: relative;
    // @include responsive(padding-top, 340, 140);
    // @include responsive(padding-bottom, 198, 0);

    @include responsive(padding-top, 340, 140);
    @include responsive(padding-bottom, 198, 0);
    background: var(--blue-2);
    // min-height: calc(100vh - 5.2083333333vw);
    // aspect-ratio: 16 / 9;

    @media (min-aspect-ratio: 1 / 0.8) {
        min-height: calc(100vh - 4.1666666667vw);
        @include responsive(padding-top, 200, 140);
        @include responsive(padding-bottom, 140, 0);
    }
    @media(max-width:768px){
        // min-height: calc(100vh - 17.9487179487vw);
    }

    &__video {
        position: absolute;
        top: 0;
        left: 0%;
        width: 100%;
        height: 100%;

        @media(max-width:768px){
            display: none;
        }
    }

    &__bg {
        display: none;
        @media(max-width:768px){
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            pointer-events: none;
        
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    &__container {
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        @media(max-width:768px){
            height: auto;
            flex: auto;
        }
    }

    &__title {
        @include responsive(margin-bottom, 20, 16);
        font-weight: 700;
        text-align: center;
        @include responsive(font-size, 80, 34);
        line-height: 105%;
        max-width: vw(1150);
        font-family: BalsamiqSans;

        @media(max-width:768px){
            max-width: 100%;
        }
    }

    &__text {
        @include responsive(margin-bottom, 78, 40);
        font-weight: 400;
        @include responsive(font-size, 35, 22);
        line-height: 120%;
        letter-spacing: 0.02em;
    }

    &__btn-row {
        @include responsive(min-width, 420, 245);
        @include responsive(min-height, 80, 50);
    }
    &__button.button {
        display: inline-block;
        @include responsive(width, 420, 245);
        @include responsive(min-width, 420, 245);
    }

    &__img {
        width: 100%;
        pointer-events: none;

        img {
            width: 100%;
        }

        @media(min-width:769px){
            display: none;
        }

        @media(max-width:768px){
            margin-top: vw(-59, 390);
        }
    }
}
.button {
}
