.footer {
  background: var(--green);
  color: var(--white);

  &__content {
    position: relative;
    @include responsive(padding-top, 140, 77);
    @include responsive(padding-bottom, 40, 0);
  }
  // .footer__container
  &__container {
  
  }

  &__xyli {
    position: absolute;
    pointer-events: none;
    @include responsive(top, 310, 75.3);
    @include responsive(left, 45, -11.9);
    @include responsive(width, 439, 170.7);
    img {
      @include responsive(width, 439, 170.7);
      height: auto;
    }
  }
  &__top {
    display: flex;
    @include responsive(gap, 235, 32);

    @media(max-width:768px){
        flex-direction: column;
        padding-left: vw(120, 390);
    }
  }

  &__logo {
    @include responsive(width, 235, 131);

    img {
      width: 100%;
    }
  }

  &__menu {
    display: flex;
    @include responsive(gap, 55, 10);
    @include responsive(margin-bottom, 80, 50);

    @media(max-width:768px){
        flex-direction: column;
    }
  }

  &__menu-item {
    @include responsive(font-size, 20, 17);
    letter-spacing: 0.02em;
    color: var(--white);
    transition: all 0.3s ease  0s;

    @media(min-width:769px){
      &:hover  {  
          color: var(--white);
          transform: scale(1.03);
      }
  }
  &:active {
      transform: scale(0.98);
  }
  }

  &__form {
    @include responsive(margin-left, 470, 0);
    max-width: vw(705);
    @include responsive(margin-bottom, 275, 50);
    @media(max-width:768px){
        max-width: 100%;
    }
  }

  &__tooth {
    @include responsive(width, 1012, 358);
    pointer-events: none;
    img {
      width: 100%;
    }

    @media(min-width:769px){
        position: absolute;
        right: vw(38);
        bottom: vw(-357);
    }
    @media(max-width:768px){
        margin-top: vw(15, 390);
    }
  }

  &__form-title {
    @include responsive(font-size, 42, 20);
    font-family: BalsamiqSans;
    @include responsive(margin-bottom, 20, 16);
  }

  &__form-text {
    @include responsive(font-size, 18, 17);
    @include responsive(margin-bottom, 40, 32);
    @include responsive(max-width, 360, 340);
  }

  &__bot {
    display: grid;
    grid-template-columns: 1fr 1fr;
    @include responsive(row-gap, 20, 15);
    @include responsive(column-gap, 99, 32);
    @include responsive(width, 823, 335);

    @media(max-width:768px){
        max-width: 100%;
        display: flex;
        flex-direction: column-reverse;
    }

  
    a {
      color: var(--white);
    }
  }

  &__bot-row {
    display: flex;
    flex-direction: column;
    @include responsive(row-gap, 20, 15);

    &.two {
      @include responsive(margin-top, 64, 15);
    }

    p {
      @include responsive(font-size, 14, 11);
      color: var(--white);

      @media(max-width:768px){
          max-width: vw(260, 390);
      }
    }
  }

  &__row { 
    display: flex;
    @include responsive(gap, 100, 16);

    @media(max-width:768px){

      flex-direction: column;
    }


    p:nth-child(1) {
      @include responsive(max-width, 370, 290);
    }
    p:nth-child(2) {
      @include responsive(max-width, 370, 342);
    }
  }


		&__pdf {
      display: flex;
      flex-direction: column;
      @include responsive(gap, 15, 15);

      @media(max-width:768px){
        margin-bottom: vw(17, 390);
      }
		}

		&__pdf-title {
      display: flex;
      line-height: 120%;
      @include responsive(font-size, 18, 17);
      @include responsive(margin-bottom, 5, 0);
      @include responsive(gap, 20, 14.5);
      font-family: BalsamiqSans;

      svg {
        @include responsive(min-width, 30, 29);
        @include responsive(width, 30, 29);
        height: auto;
      }
		}

		&__pdf-link {
      @include responsive(font-size, 17, 11);
		}
}

