.popup {
  $white-100: #fff;

  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  overflow-y: auto;
  pointer-events: none;

  /** Установить свои значения */
  padding: rem(30) rem(10);
  @include responsive(padding-left, 16, 16);
  @include responsive(padding-right, 16, 16);
  background-color: rgba(#000, 50%);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  z-index: 2000;
  transition: opacity 0.4s ease-in-out;

  &.is-open {
    opacity: 1;
    pointer-events: auto;

    .popup__content {
      transform: scale(1);
      opacity: 1;
    }
  }

  // .popup__wrapper
  &__wrapper {
    display: flex;
    align-items: center;
    min-height: 100%;
  }

  // .popup__content
  &__content {
    position: relative;
    width: 100%;
    margin: 0 auto;

    /** Установить свои значения */
    
    background-color: $white-100;
    transform: scale(0.5);
    opacity: 0;
    transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;


  }

  // .popup__close
  &__close {
    position: absolute;

    /** Установить свои значения */
    @include responsive(top, 20, 10);
    @include responsive(right, 20, 10);
    @include responsive(width, 54, 30);
    @include responsive(height, 54, 30);
    border-radius: 50%;
    overflow: hidden;
    transition: all 0.3s ease  0s;

    img {
      width: 100%;
      height: auto;
    }

    @media(min-width:769px){
      &:hover  {  
          transform: scale(1.05);
      }
    }
    &:active {
        transform: scale(0.98);
    }
  }
}


.popup-tara {
  &__content {
    background: var(--white);
    @include responsive(border-radius, 25, 6);
    @include responsive(padding-top, 78, 19);
    @include responsive(padding-bottom, 209, 207);
    @include responsive(padding-left, 77, 20);
    @include responsive(padding-right, 77, 20);
    max-width: vw(1512);

    @media(max-width:768px){
      max-width: 100%;
    }
  }

  &__title {
    text-align: center;
    @include responsive(font-size, 62, 20);
    @include responsive(margin-bottom, 84, 33);
  }

  &__row {
    display: flex;
    @include responsive(gap, 40, 0);

    @media(max-width:768px){
        flex-direction: column-reverse;
    }
  }

  &__plan {
    @include responsive(width, 430, 235);
    @include responsive(height, 430, 235);

    @media(max-width:768px){
        margin-left: auto;
        margin-right: auto;
    }
  }

  &__body {
    @include responsive(max-width, 418, 240);
  }

  &__name {
    @include responsive(font-size, 42, 18);
    font-weight: 400;
    @include responsive(margin-bottom, 21, 16);
    text-align: left;
  }

  &__quantity {
    @include responsive(font-size, 28, 17);
    @include responsive(margin-bottom, 129, 24);
  }

  &__text {
    display: flex;
    flex-direction: column;
    max-width: vw(310);
    @include responsive(gap, 31, 24);

    p {
      text-align: left;
    }

    @media(max-width:768px){
        max-width: 100%;
    }
  }

  &__img-one {
    position: absolute;
    @include responsive(width, 471, 177);
    @include responsive(height, 471, 177);
    top: vw(102);
    @include responsive(right, -72, 0);
    z-index: 1;

    @media(max-width:768px){
        top: unset;
        bottom: vw(30, 390);
    }
  }

  &__img-two {
    position: absolute;
    @include responsive(width, 430, 199);
    @include responsive(height, 430, 199);
    @include responsive(bottom, 30, 19);
    @include responsive(right, 184, 159);
  
  }
}
.bs-title {
}





.popup-vict {
  @include responsive(padding-left, 16, 10);
  @include responsive(padding-right, 16, 10);
  &__content {
    position: relative;
    max-width: vw(1760);
    @include responsive(min-height, 841, 752);
    width: 100%;
    background: none;

    @media(max-width:768px){
      max-width: 100%;
    }

    &._two {
      @include responsive(min-height, 938, 752);
    }
  }

  &__fon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
    }
  }

  &__close {
    @include responsive(right, 40, 100);
    top: unset;
    bottom: vw(243);
    z-index: 2;

    @media(max-width:768px){
      bottom: unset;
      top: vw(48, 390);
    }
  }

  &__body {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 1100%;
    @include responsive(padding-top, 301, 308);
    @include responsive(padding-left, 365, 29);
    @include responsive(padding-right, 365, 39);
    @include responsive(padding-bottom, 50, 50);


    ._two & {
      @include responsive(padding-top, 219, 123);
      @include responsive(padding-left, 210, 43);
      @include responsive(padding-right, 210, 48);
    }

  }

  &__title {
    @include responsive(margin-bottom, 80, 32);

    ._two & {
      @include responsive(margin-bottom, 20, 32);
      @media(max-width:768px){
          margin-right: 10%;
      }
    }
  }

  &__text {
  }

  &__bacterium {
    @include responsive(margin-top, 30, 70);
    @include responsive(margin-right, 70, 89);
    margin-left: auto;
    @include responsive(width, 162, 120);
    img {
      width: 100%;
    }
  }

  &__img {
    @include responsive(width, 1106, 270);
    @include responsive(margin-bottom, 20, 24);
    margin-left: auto;
    margin-right: auto;
    img {
      width: 100%;
    }
  }
}


.popup-quest {

  &__content {
    @include responsive(padding-top, 140, 80);
    @include responsive(padding-bottom, 80, 30);
    @include responsive(padding-left, 40, 16);
    @include responsive(padding-right, 40, 16);
    @include responsive(border-radius, 25, 15);
    background: var(--blue);
    @include responsive(max-width, 1760, 1760);
  }

  &__body {
    position: relative;
    display: flex;
    flex-direction: column;
  }


  &__title {
    @include responsive(margin-bottom, 80, 32);
    @include responsive(font-size, 62, 20);
    @include responsive(max-width, 1270, 1000);
    margin-left: auto;
    margin-right: auto;

  }

  &__row {
    display: flex;
    flex-direction: column;
    @include responsive(gap, 60, 34);
  }

  &__item {
    position: relative;
    @include responsive(max-width, 1515, 1515);

    &.m-w {
      @include responsive(max-width, 1355, 1355);
    }
  }

  &__item-title {
    @include responsive(font-size, 42, 17);
    @include responsive(margin-bottom, 20, 16);
    text-align: left;

    &.m-b {
      @include responsive(margin-bottom, 60, 30);
    }
  }
  &__item-row {
    display: flex;
    align-items: center;
    @include responsive(gap, 20, 32);
    @include responsive(margin-top, 13, 20);
    @include responsive(margin-bottom, -110, 0);

    @media(max-width:768px){
        flex-direction: column;
    }

    .popup-quest__item-title {
      margin-bottom: 0;
    }
  }
  &__item-body {
    @include responsive(max-width, 1115, 1000);
    @include responsive(margin-left, 390, 0);
  }

  &__item-text {
    display: flex;
    flex-direction: column;
    @include responsive(gap, 24, 20);

    p {
      @include responsive(font-size, 24, 17);

      b {
        font-family: BalsamiqSans;
        font-weight: 400;
      }

      span.big {
        display: inline-block;
        @include responsive(font-size, 42, 20);
        @include responsive(margin-top, 10, 5);
      }


      a {
        color: var(--green);
        transition: opacity 0.3s ease  0s;

        @media(min-width:769px){
            &:hover {
                opacity: 0.7;
            }
        }
      }
    }  

    &.m-b {
      @include responsive(margin-bottom, 40, 20);
    }
  }


  &__item-img {
    @include responsive(margin-top, 60, 34);

    img {
      width: 100%;
      object-fit: cover;
      @include responsive(border-radius, 25, 15);

    }

    &.m-l {
      @include responsive(margin-left, -92, 0);
    }


    &._5 {
      @include responsive(max-width, 630, 1000);
      @include responsive(min-width, 630, 0);
      margin-top: 0;
    }
  }

  &__item-bacter {
    position: absolute;
    img {
      width: 100%;
    }

    &._1 {
      width: vw(154);
      top: vw(400);
      left: vw(80);
    }

    &._2 {
      width: vw(178);
      top: vw(280);
      left: vw(39);
    }

    &._3 {
      width: vw(146);
      top: vw(360);
      right: vw(-171);
    }
    &._4 {
      width: vw(167);
      top: vw(150);
      left: vw(80);
    }

    @media(max-width:768px){
      display: none;
    }
  }

  &__item-xyli {
    position: absolute;
    width: vw(491);
    top: vw(200);
    left: vw(-44);
    img {
      width: 100%;
    }

    @media(max-width:768px){
      display: none;
    }
  }
  &__tooth {
    position: absolute;
    width: vw(181);
    top: vw(370);
    right: vw(46.8);
    img {
      width: 100%;
    }

    @media(max-width:768px){
      display: none;
    }
  }
}



.popup-care {

  &__content {
    @include responsive(max-width, 1512, 1512);
    @include responsive(padding-top, 40, 32);
    @include responsive(padding-left, 40, 20);
    @include responsive(padding-right, 40, 20);
    @include responsive(padding-bottom, 120, 60);
    @include responsive(border-radius, 25, 20);
  }
  &__close {
    @include responsive(top, 40, 32);
    @include responsive(right, 40, 20);
  }

  &__body {
  }

  &__title {
    text-align: left;
    @include responsive(font-size, 62, 20);
    @include responsive(max-width, 700, 160);
    @include responsive(margin-bottom, 66, 34);
  }

  &__row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    @include responsive(gap, 40, 22);

    @media(max-width:768px){
      grid-template-columns: 1fr;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    @include responsive(gap, 20, 20);

  }

  &__item-title {
    font-weight: 600;
    @include responsive(font-size, 28, 20);
  }

  &__item-text {
    @include responsive(font-size, 22, 17);
  }

  &__table {
    @include responsive(border-radius, 25, 25);
    overflow: hidden;

   


  }


}

.table {

  &__top {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    @include responsive(min-height, 48, 65);
    background: var(--pink);
    
    .table__item {
      @include responsive(padding, 14, 11);
      @include responsive(font-size, 17, 14);
    }
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    @include responsive(font-size, 14, 12);
  }

  &__body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background: var(--blue-2);

    .table__item {
      @include responsive(min-height, 64, 64);
      @include responsive(padding, 15, 11);
    }
  }
}




.cookie {
  position: fixed;
  @include responsive(bottom, 23, 16);
  @include responsive(left, 280, 16);
  @include responsive(width, 620, 358);
  @include responsive(padding, 20, 10);
  background: var(--blue);
  @include responsive(border-radius, 25, 15);
  z-index: 10;
  box-shadow: 0px 0px 15px #0000002a;
  opacity: 0;

  .loaded & {
    transition: opacity 0.3s ease  3s;
    opacity: 1;
  }


  &.hidden {
    transition: transform 0.2s ease  0s, opacity 0.2s ease  0s;
    transform: scale(0.5);
    transform-origin: left bottom;
    opacity: 0;
    pointer-events: none;
  }

  &__row {
    display: flex;
    align-items: center;
    @include responsive(gap, 20, 12);
  }

  &__item-text {
    @include responsive(font-size, 14, 10);
  }

  &__button {
    cursor: pointer;
    @include responsive(font-size, 14, 10);
    @include responsive(padding-top, 12, 14);
    @include responsive(padding-bottom, 11, 13);
    @include responsive(padding-left, 28, 17);
    @include responsive(padding-right, 28, 17);
  }
}


.popup-blog {

  &__content {
    @include responsive(max-width, 1760, 358);
  }

  &__top {
    @include responsive(padding-top, 95, 72);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @include responsive(gap, 80, 32);
  }

  &__title {
    width: 100%;
    text-align: center;
    max-width: 100%;
    @include responsive(margin-bottom, 80, 32);
  }

  &__bottom {
    @include responsive(padding-top, 140, 32);
    // display: flex;
    // flex-direction: column;
    // align-items: center;

    .popup-blog__title {

      @include responsive(font-size, 62, 18);
    }

    .blog__grid {
      width: 100%;

    }
  }

  &__btn-row {
    // display: flex;
  }

  &__slider {
    overflow: hidden;
  }

  &__wrapper {
    .item-blog {
      display: flex;
      @include responsive(width, 533, 275);

      &:not(:last-child) {
        @include responsive(margin-right, 40, 20);
      }
    }
  }
}