.xyli {
    position: relative;

    &__img {
        
        img {
            aspect-ratio: 1920 / 1080;
            width: 100%;

            @media(max-width:768px){
                aspect-ratio: 390 / 416;
            }
        }
    }
    &__btn {
        position: absolute;
        &:hover {
            img {
                animation-play-state: paused;
            }
        }
    }
    &__btn.one {
        @include responsive(top, 540, 65);
        @include responsive(left, 200, 40);
        
        img {
            animation: atom-pulse 3s ease-in-out infinite;
        }
    }
    &__btn.two {
        @include responsive(top, 124, 65);
        @include responsive(right, 925, 40);


        img {
            animation: atom-pulse 3s ease-in-out 2s infinite;
        }

        
    }
}
