@use 'sass:math';

/**
* Подключение шрифтов локально из папки "./src/fonts"
*/
@import 'config/fonts';

/** Подключение переменных */
@import 'config/vars';

/**
* Подключение sass function и mixins и extends стилей
*/
@import 'config/functions';
@import 'config/mixins';
@import 'config/placeholders';

/** Обнуление */
@import 'config/reset';

/**
* Библиотеки
* раскомментировать для использования
*/
@import 'libs/aos';
@import 'libs/swiper';

/**
* Подключение custom scrollbar для всего сайта
*/
@import 'config/scrollbar';

/**
* Общие параметры, шаблоны(заготовки) и вспомогательные классы
*/
@import 'config/base';

/**
* БЕМ блоки используемые во всё проекте
*/
@import 'config/common';

/**
* Функциональные блоки используемые во всё проекте
*/
@import 'components/popup';
// @import 'components/checkbox';
// @import 'components/tabs';
// @import 'components/accordion';
/**
* Подключение стилей отдельных блоков и секций
*/
@import 'components/header';
@import 'components/about';
@import 'components/running';
@import 'components/acqua';
@import 'components/care';
@import 'components/xyli';
@import 'components/victory';
@import 'components/advant';
@import 'components/choice';
@import 'components/useful';
@import 'components/signif';
@import 'components/quest';
@import 'components/resear';
@import 'components/blog';
@import 'components/rewiews';
@import 'components/answer';
@import 'components/partner';
@import 'components/bot';
@import 'components/where';



@import 'components/footer';

@import 'components/error';





html.lenis {
    height: auto;
}
.lenis.lenis-smooth {
    scroll-behavior: auto;
}
.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}